In [1]:
import pandas as pd
import numpy as np

In [2]:
latlon_df = pd.read_excel("210524_Public_School_Locations_2019-20.xlsx", sheet_name=0)

In [3]:
school_info_df = pd.read_excel("School_Info_File.xlsx", sheet_name=0)

In [5]:
latlon_df = latlon_df[['NAME', 'STREET', 'CITY', 'ZIP', 'NMCNTY', 'LAT', 'LON']]

In [9]:
latlon_df = latlon_df.rename({'NAME' : 'school_name_coord', 'ZIP':'zipcode_coord', 'NMCNTY':'county_name', 'LAT' : 'lat', 'LON' : 'lon'}, axis=1)

In [7]:
latlon_df.shape

(1894, 7)

In [6]:
school_info_df = school_info_df[['district_number', 'district_name', 'school_number', 'school_name', 'zipcode']]

In [8]:
school_info_df.shape

(1758, 5)

In [13]:
latlon_school = pd.merge(school_info_df, latlon_df,  how='left', left_on=['school_name','zipcode'], right_on = ['school_name_coord','zipcode_coord'])

In [14]:
latlon_school.shape

(1758, 12)

In [16]:
#latlon_school.to_excel(r'latlon_school.xlsx', index = False)